.login-admin-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.login-admin-page > .login-form {
  display: flex;
  align-items: center;
  flex-direction: column;

  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);

  width: 40%;
  height: 50%;

  padding: 2rem;
  gap: 1.5rem;

  border-radius: 10px;
}

.login-form > .login-form-content {
  display: flex;
  flex-direction: column;

  width: 70%;
}
.login-form-content > h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.login-form-content > p {
  display: flex;
  line-height: 10px;
}

.login-form > .form-input-container {
  display: flex;
  width: 70%;
  flex-direction: column;

  gap: 0.2rem;
}

.form-input-container > input {
  display: flex;

  padding: 0.5rem 0.5rem;
  border-radius: 10px;

  border: 1px solid rgb(163, 162, 162);
}

.form-input-container > input:focus {
  outline: none;
}

.login-form > button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 70%;

  padding: 0.7rem;

  border-radius: 10px;

  color: white;

  background: var(--secondary-bg-400);
}

.login-form > button:hover {
  background: #003caf;
}
