.manage-business-page {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100vh;
}

.manage-business-page > .edit-business {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  width: 100%;
  height: 730px;
}

.edit-business > form {
  display: flex;
  flex-direction: column;

  background-color: white;

  padding: 1rem 2.5rem;

  border-radius: 10px;

  gap: 0.8rem;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}

.edit-business > form > .form-input-conntainer > .image-container {
  display: flex;
  height: 50px;
  width: 50px;

  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  background: transparent;

  margin-top: 0.5rem;
}

.label {
  display: flex;
  gap: 0.3rem;
}

.image-container > .image-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.edit-business > form > button.disable {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}
