.AdminNavbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: white;

  padding: 0rem 1rem;

  width: 100%;
  max-width: 100%;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}

.AdminNavbar > .logo-container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 4rem;
  height: 5rem;

  flex-shrink: 0;
}

.AdminNavbar > .nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  flex-shrink: 0;
  width: 550px;

  height: 64px;

  background-color: transparent;
}

.nav-menu > .nav-link {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0rem 0.5rem;

  width: auto;
  height: 40px;

  white-space: nowrap;
}

.nav-menu > .nav-link:hover {
  border-radius: 5px;
  color: var(--secondary-bg-600);
  background-color: var(--primary-bg-600);
}

.nav-menu > .nav-link.active {
  color: var(--secondary-bg-600);
}

.AdminNavbar--hidden {
  transform: translateY(-100%);
}

.AdminNavbar--visible {
  transform: translateY(0);
}

.menu-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

/* Hide overlay by default */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000000; /* BELOW the menu */

  background-color: var(--primary-bg-400);
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100vh;
  width: 100%;

  background-color: var(--primary-color-400);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 1.5rem;
  transition: right 0.3s ease;
  z-index: 1000001; /* ABOVE overlay */
}

.mobile-menu.open {
  right: 0; /* slide in */
}

.mobile-menu a {
  color: inherit;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.mobile-menu a:hover {
  color: var(--secondary-color-400);
}

.close-btn {
  position: absolute;
  top: 30px;
  right: 40px;

  font-size: 1.8rem;
  background: none;
  border: none;
  color: black;
  cursor: pointer;
}

.AdminNavbar {
  transition: transform 0.4s ease-in-out;
}

.AdminNavbar--hidden {
  transform: translateY(-100%);
}

.AdminNavbar--visible {
  transform: translateY(0);
}
@media only screen and (max-width: 900px) {
  .AdminNavbar {
    gap: 1rem;
  }

  .nav-menu > a {
    width: 50px;
  }

  .AdminNavbar {
    height: 10vh;
  }
  .AdminNavbar > .nav-identificaation .logo-container > img {
    width: 40px;
    height: 40px;
  }
  .nav-menu.desktop {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .AdminNavbar > button {
    display: none;
  }
}

@media only screen and (max-width: 1050px) {
  .AdminNavbar {
    gap: 1.5rem;
  }

  .nav-menu > a {
    width: 60px;
  }
}
