.business-preview {
  display: flex;
  flex-direction: column;

  width: 285px;
  height: 280px;

  border-radius: 20px;

  padding: 0.8rem;

  border: 1px solid rgb(239, 235, 235);

  cursor: pointer;

  position: relative;
}

.business-preview:hover {
  background-color: #f4f4f5;
}

.business-preview > .business-meta {
  display: flex;
  flex-direction: column;

  width: 260px;
  height: 236px;

  gap: 1rem;

  background-color: transparent;
}

.business-meta > .img-container {
  width: 258px;
  height: 156px;

  border-radius: 12px;

  overflow: hidden;
}

.img-container > img {
  width: 100%;
  height: 100%;

  object-fit: cover;

  border-radius: 12px;
}

.business-meta > .business-tilte {
  display: flex;
  width: 100%;

  font-size: 1.1rem;
  line-height: 21.6px;
  font-weight: 300;

  color: #3f2a2b;
}

.business-preview > .business-price {
  display: flex;
  width: 100%;

  gap: 0.6rem;
}
.business-price > .current-price {
  font-size: 1rem;
  line-height: 16px;
  font-weight: 300;
  letter-spacing: normal;
  color: #3f2a2b;
}

.business-price > .prev-price {
  font-size: 0.9rem;
  line-height: 14px;
  font-weight: 300;
  letter-spacing: normal;
  color: #73595c;
}

.business-description-modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -50px;

  width: 309px;
  min-height: 300px;

  line-height: 22.4px;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: normal;

  border-radius: 10px;
  padding: 1rem;
  gap: 25px;

  border: 1px solid rgb(239, 235, 235);
  background: white;

  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.25s ease;

  z-index: 1000;
}

.business-description-modal > a {
  margin-top: 5px;
}

.business-preview-wrapper:hover .business-description-modal {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.business-preview > .business-description-modal.show {
  display: flex;
}

.business-description-modal > .business-highlights > .individual-highlight {
  display: flex;
  align-items: center;

  gap: 1rem;
}

.individual-highlight > .fa {
  height: 0.8rem;
  width: 0.8rem;
}

.business-description-modal.right-side {
  left: 100%;
  margin-left: 16px;
}

.business-description-modal.left-side {
  right: 100%;
  margin-right: 16px;
}

.business-description-modal > button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 12px;

  font-family: var(--heading-font);
  font-size: 1rem;
  line-height: 1.1rem;
  letter-spacing: normal;
  font-weight: 700;

  background: var(--secondary-bg-400);
  color: white;

  border-radius: 8px;
}

.business-description-modal > button:hover {
  background: #003caf;
}

.business-preview-wrapper {
  position: relative;
  display: inline-block;
}

@media only screen and (max-width: 1400px) {
  .business-preview {
    width: 280px;
  }

  .business-meta > .img-container {
    width: 97%;
    height: 156px;
  }
}

@media only screen and (max-width: 1360px) {
  .business-preview {
    width: 270px;
  }

  .business-meta > .img-container {
    width: 95%;
    height: 156px;
  }
}

@media only screen and (max-width: 1310px) {
  .business-preview {
    width: 270px;

    background-color: ye;
  }

  .business-meta > .img-container {
    width: 93%;
    height: 156px;
  }
}
