.business {
  display: flex;
  align-items: center;

  width: 100%;
  height: 70px;

  background-color: transparent;

  gap: 1rem;

  padding: 0rem 0.5rem;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}

.business:hover {
  cursor: pointer;
}

.business > .business-image-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 60px;

  overflow: hidden;
}

.businness-image-cotainer > img {
  width: 100%;
  height: 100%;

  object-fit: contain;
}

.business > .business-content {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.business-content > h3 {
  display: flex;
  height: 20px;
}

.business-content > p {
  display: flex;
}
