.business-preview {
  display: flex;
  flex-direction: column;

  width: 309px;
  height: 280px;

  border-radius: 20px;

  padding: 1rem;

  border: 1px solid rgb(239, 235, 235);

  cursor: pointer;
}

.business-preview:hover {
  background-color: #ffffff;
}

.business-preview > .business-meta {
  display: flex;
  flex-direction: column;

  width: 277px;
  height: 236px;

  gap: 1rem;

  background-color: transparent;
}

.business-meta > .img-container {
  width: 277px;
  height: 156px;

  border-radius: 12px;

  overflow: hidden;
}

.img-container > img {
  width: 100%;
  height: 100%;

  object-fit: cover;

  border-radius: 12px;
}

.business-meta > .business-tilte {
  display: flex;
  width: 100%;

  font-size: 1.1rem;
  line-height: 21.6px;
  font-weight: 300;

  color: #3f2a2b;
}

.business-preview > .business-price {
  display: flex;
  width: 100%;

  gap: 0.6rem;
}
.business-price > .current-price {
  font-size: 1rem;
  line-height: 16px;
  font-weight: 300;
  letter-spacing: normal;
  color: #3f2a2b;
}

.business-price > .prev-price {
  font-size: 0.9rem;
  line-height: 14px;
  font-weight: 300;
  letter-spacing: normal;
  color: #73595c;
}

@media only screen and (max-width: 1400px) {
  .business-preview {
    width: 280px;
  }

  .business-meta > .img-container {
    width: 97%;
    height: 156px;
  }
}

@media only screen and (max-width: 1360px) {
  .business-preview {
    width: 270px;
  }

  .business-meta > .img-container {
    width: 95%;
    height: 156px;
  }
}

@media only screen and (max-width: 1310px) {
  .business-preview {
    width: 270px;

    background-color: ye;
  }

  .business-meta > .img-container {
    width: 93%;
    height: 156px;
  }
}
