.footer-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;

  background: #001f44;
}

.footer-navbar > .footer-content {
  display: flex;

  width: 80%;
  height: 100%;

  align-items: center;

  padding: 1rem;

  background-color: transparent;
}

.footer-content > div {
  display: flex;
  flex-direction: column;

  width: 300px;
  height: 179px;
  background-color: transparent;

  gap: 0.5rem;
}

.footer-content > div > .info-container {
  display: flex;
  align-items: center;

  width: 100%;

  gap: 0.8rem;

  font-size: 1rem;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: normal;

  color: white;
}

.info-container > .fa {
  color: #0058ff;
}

.quick-links > h4 {
  color: white;
}

.footer-content > .map {
  width: 600px;
  height: 300px;
}

.map > iframe {
  width: 100%;
  height: 100%;
}
