.home-page {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: 100vh;

  background-color: transparent;
}

.home-page > section {
  margin-top: 2rem;
}

.home-page > .hero-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 400px;

  background-color: transparent;

  margin-top: 0px;
}

.home-page > .introduction-section {
  display: flex;
  width: 100%;
  height: 577px;

  justify-content: center;

  background-color: transparent;
}

.introduction-section > .introduction-section-cotent {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 85%;
  height: 100%;

  background-color: #001f44;

  padding: 1rem 3rem;
  gap: 200px;

  border-radius: 25px;
}

.introduction-section-cotent > .introduction-text-contet {
  display: flex;
  flex-direction: column;

  gap: 20px;

  background-color: transparent;

  height: 50%;
  width: 50%;
}
.introduction-text-contet > h3 {
  display: flex;

  color: var(--primary-bg-400);

  font-size: 2rem;
  line-height: 35px;
  font-weight: 500;
  letter-spacing: normal;

  overflow-wrap: break-word;
  word-break: normal;
}

.introduction-text-contet > p {
  color: #e0d1d2;
  font-size: 1rem;
  line-height: 25px;
  font-weight: 100;
  letter-spacing: normal;
}
.introduction-section-cotent > .instagram-feed {
  display: flex;

  height: 95%;
  width: 30%;
  background-color: transparent;

  border-radius: 20px;

  /* margin-left: 200px; */
}

.instagram-feed > .instagram-media {
  width: 100%;
  height: 100%;
}

.home-page > .business-preview-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: transparent;

  gap: 0.5rem;
}

.business-preview-section > .business-section-cotent {
  display: flex;
  width: 100%;
  height: 50px;

  background-color: transparent;

  padding: 4rem 8rem;
  gap: 150px;

  border-radius: 25px;
}

.business-section-cotent > .business-text-contet {
  display: flex;
  flex-direction: column;

  width: 100%;

  height: 100px;
}

.business-text-contet > h2 {
  font-size: 2rem;
  line-height: 35px;
  font-weight: 500;
  letter-spacing: normal;

  color: #2a2c40;
}

.business-text-contet > div {
  font-size: 1.1rem;
  line-height: 27px;
  font-weight: 300;
  letter-spacing: normal;

  color: #6b6e82;
}

.business-preview-section > section {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 400px;

  background-color: transparent;

  gap: 1rem;
}

.business-preview-section > .new-listing-business {
  display: flex;
  width: 100%;

  background-color: transparent;
}

.business-preview-section > .business-category {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 450px;

  background-color: transparent;

  padding: 1rem 8rem;
  gap: 25px;

  background-color: transparent;
}
.business-selection {
  display: flex;

  width: 100%;
  height: 50px;

  gap: 1rem;

  border-bottom: 1px solid #d1d2e0;

  padding: 1rem 0rem;

  background-color: transparent;

  position: relative;
}

.business-selection > button {
  display: flex;
  align-items: center;

  border: none;

  background-color: transparent;

  font-size: 1rem;
  line-height: 19.2px;
  font-weight: 300;
  letter-spacing: normal;

  color: #2a2c40;

  background-color: transparent;

  height: 32.5px;

  border-bottom: 2px solid transparent;
}

.business-btn.selected {
  border-bottom: 2px solid #2a2c40;
}

.business-preview-section > .opportunities-category {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;

  padding: 1rem 8rem;
  gap: 5px;

  background-color: transparent;
}

.opportunities-category > .business-carousel {
  margin-top: 20px;
}

.business-preview-section > .clients {
  display: flex;
  align-items: center;

  width: 100%;
  min-height: unset;
  height: 228px;

  background: #f1f3f8;
}
.clients > .clients-showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 90%;
  height: 100%;

  background-color: transparent;

  gap: 1.5rem;
}

.clients-showcase > h2 {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 90%;
  background-color: transparent;

  color: #23223d;

  font-size: 1rem;
  list-style: 25px;
  font-weight: 300px;
  letter-spacing: normal;
}

.clients > .clients-showcase > ul {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 90%;

  background: transparent;

  gap: 3rem;
}

.home-page > .contact {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 437.797px;

  background-image: url("https://media.istockphoto.com/id/1348123506/photo/shot-of-a-young-businesswoman-using-a-whiteboard-while-brainstorming-with-her-colleagues-in.jpg?s=1024x1024&w=is&k=20&c=LUbc9vxNPjHaqFp6Cb8tJTIFAXLAUHBrOyMS9lAXpUE=");
  background-size: cover;

  background-repeat: no-repeat;

  position: relative;
}

.contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(124, 145, 163, 0.4);
  z-index: 1;
}

.contact > .contact-content {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  background-color: transparent;
  height: 310px;
  width: 80%;

  gap: 1.5rem;
}

.contact-content > h2 {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 600px;
  height: 100px;

  color: white;
  font-size: 2.2rem;
  line-height: 50px;
  letter-spacing: -1;
  font-weight: 700;
  letter-spacing: normal;
  overflow-wrap: normal;

  background: transparent;

  text-align: center;
  z-index: 2;
}
.contact-content > div {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 600px;
  height: 50px;

  font-size: 1.3rem;
  line-height: 24px;
  font-weight: 400;
  width: 50%;

  text-align: center;

  color: white;

  z-index: 2;
}

.contact-content > button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1rem 2rem;

  border: none;
  border-radius: 8px;

  font-size: 1rem;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: normal;

  background: var(--secondary-bg-400);
  color: white;

  z-index: 2;
}

.contact-content > button:hover {
  background: #003caf;
}

@media only screen and (max-width: 905px) {
  .home-page > .introduction-section {
    min-height: 700px;
  }

  .introduction-section > .introduction-section-cotent {
    display: flex;
    flex-direction: column;

    gap: 40px;
  }

  .introduction-section-cotent > .introduction-text-contet {
    justify-content: center;
    align-items: center;

    gap: 20px;

    height: 40%;
    width: 100%;
  }

  .introduction-section-cotent > .instagram-feed {
    display: flex;

    height: 95%;
    width: 80%;
  }
}

@media only screen and (max-width: 500px) {
  .introduction-section-cotent > .instagram-feed {
    margin-right: 120px;
  }
}

@media only screen and (min-width: 905px) {
  .introduction-section > .introduction-section-cotent {
    gap: 40px;
  }
}

@media only screen and (min-width: 1300px) {
  .home-page > .hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
