.stats {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 100%;
  height: 170px;
}

.stats > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: #23223d;
}

.stats > div > h2 {
  font-size: 3rem;
  line-height: 64px;
  letter-spacing: normal;
}

.stats > div > div {
  display: flex;

  text-transform: uppercase;

  line-height: 24px;
  font-size: 1rem;
  letter-spacing: normal;
}
