.video-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;

  z-index: -1;
}
.video-container > .play-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 60px;
  height: 60px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 50%;

  border: none;

  font-size: 1.5rem;

  color: var(--secondary-bg-600);
}

@media only screen and (min-width: 1300px) {
  .video-container {
    width: 90%;
    height: 90%;
  }
}
